/*------- CSS Inventory Catalogue -------*/

/*======= Desktop Versin (>XOXO screen res) =======*/

/* General rules */
/*--------------*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    margin: 0 auto;
    padding: 0;
    color:#555;
    background-image:url(Images/background.jpeg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/*-----------------------------*/

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    text-align: left;
    font-style: italic;
}

p {
    font-size:1.2em ;
    text-align: left;
    padding-left: 1em;
}

hr {
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

/*-----------------------------*/

#navwrapper a {
    color: #607680;
    text-decoration: none;
}

#navwrapper a:hover {
    color:white;
}

/*-------------------*/
/* End General rules */

/* Specific CSS */
/*-_-_-_-_-_-_-_*/

/* NAV */
/*-----*/
#navwrapper {
    background-color: #EEF1F2;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    vertical-align: middle;
    position:fixed;
    float:left;
}

#navlogo {
    height:100%;
    max-height: 50px;
    width:auto;
    float:left;
}

.nav ul{
  margin: 0;
  padding: 0;
}

.nav ul li{
    list-style: none;
}

.nav ul li a{
    text-decoration: none;
    float: left;
    padding: 13px 20px;
    display: block;
}

.nav ul li a:hover{
    background-color: blue ;
}

.js {
    height:35vh;
    width:100%;
    padding-top:4em;
    float:left;
}

.enabled {
    background-color: limegreen;
}

.disabled {
    background-color: red;
    display:none;
}

/*---------*/
/* End NAV */

/* Content */
/*---------*/
#contentwrapper {
    background-color: aqua;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    padding-left: 2em;
    padding-right: 2em;
    border-left: 0.1em solid #151e19;
    border-right: 0.1em solid #151e19;
    overflow: hidden;
}

#figure1{
    font-size: 0.7em;
    text-decoration: underline;
    -webkit-box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.66);
    -moz-box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.66);
    box-shadow: 5px 5px 37px 0px rgba(0,0,0,0.66);
    width:50%;
    max-width:400px;
    margin-left:0;
    margin-top:0;
    float:left;
}

#colorblindness {
    width: 100%;
    height:auto;
}

/*-------------*/
/* End Content */


/* Footer */
footer {
    width: 100%;
    height: 80px;
    background: #2b325f;
    position: relative;
    overflow: hidden;
    left: 0px;
    bottom: 0px;
    padding: 13px 0px 0px 0px;

}

footer p{
    color: black;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;



}


#socialmedialist{
    overflow: hidden;
    float: right;
    margin-left: 40%;
    width: 100%;
    margin-top: -5px;



}

#socialmedialist ul{
    margin: 0px auto;
    line-height: 1.4;
    padding-left: 0;
    text-align: center;


 }

#socialmedialist ul li{
    display: inline-block;
    list-style: none;
    margin-left: 8px;

}

#socialmedialist ul li img{
    height: 24px;
    width: 24px;
    border-radius: 25px;
}

/* End of Footer */


/* JavaScript handling (jQuery) */
/*------------------------------*/
.noscript .enabled {
    display:none;
}
.noscript .disabled {
    display:block;
}
/* JavaScript handling END */
/*-------------------------*/

















/*
#headerwrapper header, #footWrap footer {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#headerwrapper{
    position: fixed;
    width: 100%;
    padding-top: 0.5em;
    box-shadow: 0 0.2em 0.5em #151e19;
    z-index: 2;
}

#headerwrapper, #footerwrapper {
    background: #151e19;
    color: #ecebe8;
    margin: 0;
}

#navbar {
    text-align: right;
    font-size: 1.4em;
    padding-top: 1.5em;
    float: right;
    width: 70%;
    display: inline-block;
}

#navbar a {
    margin-left: 1em;
}

#navbar .activeLink {
    color: #2ebd59;
    font-weight: bold;
    font-size: 1.4em;
}
*/
